$linear_gradient_blueAndgreen:linear-gradiant(89.01deg, #3ab0e4 -10.97%, #1abc9c 99.15%);
$white:white;
$gray:rgba(240, 248, 255, 0.682);
$yellow:rgb(255, 205, 112);
$black_07:rgba(0, 0, 0, 0.731);
$black_06:rgba(4, 4, 4, 0.6);
$black_05:rgba(4, 4, 4, 0.05);
