@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
body {
  font-family: "Scheherazade";
}
.container {
  background: linear-gradient(89.01deg, #3ab0e4 -10.97%, #1abc9c 99.15%);
  text-align: center;
  direction: rtl;
  font-size: 18px;
  color: aliceblue;
  font-family: "Scheherazade";
  font-size: 22px;
  width: 100%;
}

.one {
  font-size: 32px;
  font-weight: 500;
}

.two {
  font-size: 32px;
  font-weight: 500;
  color: rgba(240, 248, 255, 0.682);
}

.three {
  font-size: 28px;
  font-weight: 500;
}

select {
  border: none;
  width: 20rem;
  height: 4rem;
  font-family: "Scheherazade";
  font-size: 26px;
}

.btn-1 {
  border: none;
  font-family: "Scheherazade";
  font-size: 22px;
  width: 10rem;
  height: 4rem;
  background: rgb(255, 205, 112);
}

input {
  border: none;
  width: 20rem;
  height: 4rem;
  font-family: "Scheherazade";
  font-size: 26px;
}

a {
  text-decoration: none;
  color: aliceblue;
}
.header {
  display: flex;
  width: 100%;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.731);
  color: white;
  flex-direction: row;
  padding-left: 200px;
  gap: 150px;
}

.left {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
}

.home {
  padding: 20px;
  border-right: 2px inset rgba(4, 4, 4, 0.6);
}

img {
  width: 17px;
  height: 17px;
}

.public:hover {
  cursor: pointer;
  background-color: rgba(4, 4, 4, 0.05);
}

.job {
  padding-top: 20px;
}

#icon {
  font-size: 22px;
}
